@page "/tipos-documento"
@using WebGrillaBlazor.DTOs
@using WebGrillaBlazor.ApiClient
@inject ApiClientGeneric<TipoDocumentoDTO> ApiClient

<h3>Gestión de Tipos de Documento</h3>

<div class="row mb-3">
    <div class="col-2">
        <Button Color="ButtonColor.Success" Size="ButtonSize.Small" @onclick="AddTipoDocumento">+Tipo Documento</Button>
    </div>
</div>

<!-- Grilla de tipos de documento -->

<Grid @ref="gridTipoDocumento"
      TItem="TipoDocumentoDTO"
      Class="table table-hover table-bordered table-striped"
      DataProvider="GetAllTiposDocumento"
      AllowPaging="true"
      PageSize="5"
      AllowSorting="true"
      AllowRowClick="true"
      OnRowDoubleClick="OnTipoDocumentoDobleClick"
      SelectionMode="GridSelectionMode.Single"
      Responsive="true">

    <GridColumns>
        <GridColumn TItem="TipoDocumentoDTO" HeaderText="ID" PropertyName="IdTipoDocumento" SortKeySelector="item => item.IdTipoDocumento">
            @context.IdTipoDocumento
        </GridColumn>

        <GridColumn TItem="TipoDocumentoDTO" HeaderText="Nombre" PropertyName="Nombre" SortKeySelector="item => item.Nombre">
            @context.Nombre
        </GridColumn>

        <GridColumn TItem="TipoDocumentoDTO" HeaderText="Abreviación" PropertyName="Abreviacion" SortKeySelector="item => item.Abreviacion">
            @context.Abreviacion
        </GridColumn>
    </GridColumns>
</Grid>

<!-- Ficha Edicion Tipo Documento -->
<Modal @ref="_EdicionTipoDocumento" UseStaticBackdrop="true" CloseOnEscape="false" Size="ModalSize.Large" />


@code {
    private IEnumerable<TipoDocumentoDTO> tiposDocumento = default!;
    private int currentIdTipoDocumento = 0;

    private Modal _EdicionTipoDocumento = default!;

    private Grid<TipoDocumentoDTO> gridTipoDocumento = default!;

    protected override async Task OnInitializedAsync()
    {
        Console.WriteLine("OnInitializedAsync");

        await base.OnInitializedAsync();
    }

    private async Task<GridDataProviderResult<TipoDocumentoDTO>> GetAllTiposDocumento(GridDataProviderRequest<TipoDocumentoDTO> request)
    {
        Console.WriteLine("GetAllTiposDocumento");

        if (tiposDocumento is null)
            tiposDocumento = await ApiClient.GetAllAsync();

        return await Task.FromResult(request.ApplyTo(tiposDocumento));
    }

    //--------------------------------------------
    // Para la creacion de un tipo de documento
    //--------------------------------------------

    private async Task AddTipoDocumento()
    {
        var lista = tiposDocumento.ToList();
        var nuevo = CreateTipoDocumento();
        lista.Add(nuevo);
        tiposDocumento = lista;
        await gridTipoDocumento.RefreshDataAsync();
    }

    private TipoDocumentoDTO CreateTipoDocumento()
    {
        // Usar verificación para manejar colecciones vacías de forma segura
        var numero = (tiposDocumento?.Any() == true) ? tiposDocumento.Max(x => x.IdTipoDocumento) + 1 : 1;

        var nuevo = new TipoDocumentoDTO();

        nuevo.IdTipoDocumento = 0;
        nuevo.Nombre = $"Nuevo Tipo Doc {numero}";
        nuevo.Abreviacion = $"TD{numero}";

        return nuevo;
    }

    //----------------------------------------------
    // Para la edicion de un tipo de documento
    //----------------------------------------------

    private async Task OnTipoDocumentoDobleClick(GridRowEventArgs<TipoDocumentoDTO> args)
    {
        Console.WriteLine("Evento OnTipoDocumentoDobleClick");
        var param = new Dictionary<string, object>();
        param.Add("OnClickCallback", EventCallback.Factory.Create<MouseEventArgs>(this, OnCloseModalEdicionTipoDocumento));
        param.Add("tipoDocumento", args.Item);
        await _EdicionTipoDocumento.ShowAsync<FichaTipoDocumento>(title: "Edición Tipo Documento", parameters: param);
    }

    private async Task OnCloseModalEdicionTipoDocumento()
    {
        Console.WriteLine("OnCloseModalEdicionTipoDocumento()");
        await _EdicionTipoDocumento.HideAsync();
        await RefreshGrid();
    }

    private async Task RefreshGrid()
    {
        tiposDocumento = null;
        await gridTipoDocumento.RefreshDataAsync();
        StateHasChanged();
    }

    //-------------------
    // Prueba de Onclick
    //-------------------

    private async Task OnRowClick(GridRowEventArgs<TipoDocumentoDTO> args)
    {
        Console.WriteLine($"OnRowClick TipoDocumento current: {currentIdTipoDocumento} nuevo: {args.Item.IdTipoDocumento} ");
        currentIdTipoDocumento = args.Item.IdTipoDocumento;
    }
}